.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 40px 0;
}

.friendImageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.friendText {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #0075d1;
    color: white;
    border-radius: 10px;
}

.friendName {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: right;
}

.friendMessageText {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
}

.friendTime {
    margin-right: 10px;
    margin-top: 3px;
    font-size: 10px;
}